submission/Parser.cpp
res.txt
submission/CMakeLists.txt
submission/Joiner.cpp
submission/Operators.cpp
submission/Query2SQL.cpp
submission/README
submission/Relation.cpp
submission/Utils.cpp
submission/compile.sh
submission/harness.cpp
submission/main.cpp
submission/package.sh
submission/run.sh
submission/runTestharness.sh
submission/include/Joiner.hpp
submission/include/Operators.hpp
submission/include/Parser.hpp
submission/include/Relation.hpp
submission/include/Utils.hpp
submission/test/CMakeLists.txt
submission/test/GTest.CMakeLists.txt
submission/test/TestOperators.cpp
submission/test/TestParser.cpp
submission/test/TestRelation.cpp
submission/test/main.cpp
submission/workloads/small/r0
submission/workloads/small/r0.sql
submission/workloads/small/r0.tbl
submission/workloads/small/r1
submission/workloads/small/r1.sql
submission/workloads/small/r1.tbl
submission/workloads/small/r10
submission/workloads/small/r10.sql
submission/workloads/small/r10.tbl
submission/workloads/small/r11
submission/workloads/small/r11.sql
submission/workloads/small/r11.tbl
submission/workloads/small/r12
submission/workloads/small/r12.sql
submission/workloads/small/r12.tbl
submission/workloads/small/r13
submission/workloads/small/r13.sql
submission/workloads/small/r13.tbl
submission/workloads/small/r2
submission/workloads/small/r2.sql
submission/workloads/small/r2.tbl
submission/workloads/small/r3
submission/workloads/small/r3.sql
submission/workloads/small/r3.tbl
submission/workloads/small/r4
submission/workloads/small/r4.sql
submission/workloads/small/r4.tbl
submission/workloads/small/r5
submission/workloads/small/r5.sql
submission/workloads/small/r5.tbl
submission/workloads/small/r6
submission/workloads/small/r6.sql
submission/workloads/small/r6.tbl
submission/workloads/small/r7
submission/workloads/small/r7.sql
submission/workloads/small/r7.tbl
submission/workloads/small/r8
submission/workloads/small/r8.sql
submission/workloads/small/r8.tbl
submission/workloads/small/r9
submission/workloads/small/r9.sql
submission/workloads/small/r9.tbl
submission/workloads/small/small.init
submission/workloads/small/small.result
submission/workloads/small/small.work
submission/workloads/small/small.work.sql
index_functions.o
hash_functions.o
help_functions.o
main
main.o
result.o
